@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
.container header {
  font-family: "Space Grotesk", sans-serif;
  position: sticky;
  top: 0;
  height: 80px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 64px;
  justify-content: space-between;
}
.container header a {
  display: flex;
  flex-direction: row;
  flex: auto;
  height: 100%;
  align-items: center;
}

.container header a div {
  background-color: #ff014f;
  scale: 0.1;
}

.container header nav ul {
  display: flex;
  justify-content: space-evenly;
  gap: 0 30px;
}

@media (width <= 1000px) {
  .container header {
    flex-direction: column;
    align-items: flex-start;
  }
}
