@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  --color-acentuado: #ff014f;
  --color-fondo: black;

  list-style: none;
  text-decoration: none;

  font-family: "Raleway", sans-serif;

  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
}
.main-container {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
button {
  cursor: pointer;
}
.main-header {
  font-family: "Space Grotesk", sans-serif;
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  font-size: 18px;
}

.logo {
  font-size: 30px;
}

.nav-ul {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.nav-ul a {
  transition: opacity 0.3s;
  font-family: "Space Grotesk", sans-serif;
}

.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.izquierdo {
  min-width: 50%;
  display: flex;
  align-items: center;
  height: 100vh;
}
.derecho {
  min-width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
}
.circular-clip {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  clip-path: circle(25% at 50% 50%);
  background-color: var(--color-acentuado);
  justify-content: center;
}
#main-foto {
  clip-path: circle(60% at 50% 50%);
  margin: 0 auto;
  height: 60%;
  width: auto;
}

h1 p {
  color: var(--color-acentuado);
}

.botones-presentacion button {
  font-size: 18px;
  width: 140px;
  height: 50px;
  border-radius: 50px;
  border: none;
  background-color: #24243e;
  transition: 0.5s;
}

.botones-presentacion button:hover {
  box-shadow: var(--color-acentuado) 0px 20px 30px -10px;
}

.botones-presentacion {
  display: flex;
  gap: 32px;
}

#cv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color-acentuado);
}
#cv svg {
  max-width: 1rem;
}
.social-icons {
  height: 30px;
  width: 30px;
  border: none;
  background: none;
}

.social-icons-container {
  display: flex;
  flex-direction: row;
  padding-top: 16px;
  gap: 50px;
}
