@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.sticky-header {
  position: sticky;
  top: 0;
  padding: 10px;
  z-index: 100;
  display: grid;
  place-items: center;
}
nav ul {
  list-style-type: none;
  display: flex;
  gap: 40px;
  width: 50%;

  justify-content: space-evenly;
}

nav a {
  text-decoration: none;
}
