.circular-clip {
  display: flex;
  height: 60vh;
  width: 60vh;
  align-items: center;
  filter: drop-shadow(5px 5px 23px #add8e6);
  background-image: url(../img/webp_foto_fondo.webp);
  background-position: 10%;
  background-size: cover;
  border-radius: 50%;
  overflow: auto;
}

@media (max-width: 980px) {
  .circular-clip {
    height: 50%;
    width: 50%;
  }
}
